

.navtop{
 background-color:white;
 width:100%;
 height:30px;
text-align: center;
}
.search {
    width:100%;
    height:30px;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    align-items: right;
}
.se{
    height: 30px;
    width:30%;
    font-size: 20px;
}
.td{
    align-items: center;
    width:100%;
    height:30px;
    font-size: 20px;
    
}
.btn-search{
    height: 35px;
    width:5%;
    font-size: 20px;
}
.bodypost{
    background-color:white;
    align-items:center;
    width: 50%;
    padding-left: 200px;
    
}     
.post{ 
    background-color:white;
    width: 800px;
    padding: 100px;
   
    
}
.border-post{
    padding: 1px;
    width: 800px;
    background-color: white;
}
.title-post{
    background-color: rgb(170, 23, 23);
     padding: 1px 200px;
     font-size: 20px;
}

.content-post{
    background-color: white;
    font-size: 20px;
    padding: 14px 300px;
    padding-left: 14px;
   
}
a{
    float: left;  
    display: block;
    color: rgb(73, 18, 18);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    }
    a:hover {
        background-color: whitesmoke;
    }
    a.active {
        color: whitesmoke;
    }
    .detail{
        background-color: white;
        padding-left: 300px;
    }
    .img{
        width: 1000px;
    }
    .detail-content{
        padding-top:50px;
        font-size: 20px;
    }
    .cmt{
        padding-left: 300px;
        padding-top: 150px;
    }
    .table{
        font-size: 20px;
    }