<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</head>
<body>
	<div class="text">Welcome</div>
    <form method="post" ><br>
    <input type="text" placeholder="username" name="username" required><br>
    <input type="password" placeholder="password" name="password" required><br>
    <div class="gr-btn">

    <button ><a href="register">register</a></button>
	<button  onclick="">Login</button> 
	</div>
    </form>
<style>
    body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 60vh;
	margin: 0;
}
.text{
	font-size: 36px;
	font-weight: bold;
	width: 50%;
	text-align: left;
	margin-top: 20%;
}
button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}
a{
	text-decoration: none;
	color: white;
}

form {
	width: 50%;
	margin-top: 10px;
	border-radius: 8px;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	box-shadow: 2px 2px 2px#888888;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 12px;
}
.gr-btn{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 16px;
}
</style>
</body>

</html>   