<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update account admin </title>
</head>
<body>
    
    <center>
        
        <form action="/admin/updateAccountAdmin"   method="post">
        
        <input   name="id" value="{{newAccount.id}}">
            <table>
               
            <tr>
            
                
                <td>Name</td>
                <td><input type="text" name="name" value="{{newAccount.name}}"></td>
            </tr>
            <tr>
                <td>username</td>
                <td><input type="text" name="username" value="{{newAccount.username}}"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="text" name="password"  value="{{newAccount.password}}"></td>
            </tr>
        <tr>
            <td>
                
                <button >update</button>
            </td>
        </tr>
        
        </table>
        </form>
    </center>
</body>
</html>