<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="post" >
        {{error}} <br>
    username: <input type="text" name="username" required><br>
    password: <input type="text" name="password" required><br>
    <button  onclick="Login()">Login</button> <br>
    <button type="submit"><a href="register">register</a></button>
    </form>
    <script>
        function Login(){
            $.ajax({
                url:'/login',
                type: 'POST',
                data:{
                    username: $('#username').val(),
                    password: $('#password').val(),
                }
            })
            .then(data =>{
                setCookie('token', data.token, 1)
            })
            .catch(err =>{
                console.log(err);
            })
        }
    </script>
</body>
</html>