
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/style.css" />
    <div class="navtop">
        <a href="home">Home</a>
        <a href="/auth/login">login</a>
        <a href="/auth/register">register</a>
        <a href="/auth/logout">logout</a>
        <div class="search">
            <form action="/auth/search">
                <input type="text" name="key">
               <button type="submit">Search </button>
            </form>
        </div>
    </div>
    <style>
      .navtop{
    background-color: rgb(246, 252, 252);
    float: right;
    width: auto;
}
.search {
    float: right;
    padding: 14px 16px;
    font-size: 23px;
}

 a{
    float: left;  
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
    }
a:hover {
    background-color: whitesmoke;
    color: black;
}
a.active {
    color: whitesmoke;
}
    </style>
    </head>