<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
     <form action="" method="post" >
    title: <input type="text" name="title" required><br>
    size: <input type="text" name="size" required><br>
    price: <input type="text" name="price" required><br>
    Services Price: <input type="text" name="servicesPrice" required><br>
    address: <input type="text" name="address" required><br>
    furniture: <input type="text" name="furniture" required><br>
    convenience: <input type="text" name="convenience" ><br>
    <input  type="file" name="img" enctype="multipart/form-data"> <br>
    
    <button type="submit" >create</button>
    </form>
   </center>
</body>
</html>